<h1>Holdings</h1>

<div id="holding container">
{{#each model as |holding|}}

<p>--===-===-***-===-===--</p>
<p>{{holding.companyname}}</p>
<p>{{holding.ticker}}</p>
<p>{{holding.shares}}</p>
<p>{{holding.issueid}}</p>
<p>--===-===-***-===-===--</p>

{{/each}}
</div>

{{outlet}}
